@model IEnumerable<MongoDBCRUD.Models.Archivo>

@{
    ViewData["Title"] = "Lista de Archivos";
}

<h1>Lista de Archivos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Archivo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Nombre
            </th>
            <th>
                Extensión
            </th>
            <th>
                Descargar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         <tr>
            <td>
                @switch (@item.extension)
                {
                    case "png":<img src="~/ico/png.png" height="40"> break;
                    case "pdf": <img src="~/ico/pdf.png" height="40"> break;
                    case "doc":
                    case "docx": <img src="~/ico/doc.png" height="40"> break;
                    case "xls":
                    case "xlsx": <img src="~/ico/xls.png" height="40"> break;
                    case "ppt":
                    case "pptx": <img src="~/ico/ppt.png" height="40"> break;
                    case "jpg":
                    case "jpeg": <img src="~/ico/jpg.png" height="40"> break;
                    case "zip": <img src="~/ico/zip.png" height="40"> break;
                    case "rar": <img src="~/ico/rar.png" height="40"> break;
                    case "mp3": <img src="~/ico/mp3.png" height="40"> break;
                    case "mp4": <img src="~/ico/mp4.png" height="40"> break;
                    default : <img src="~/ico/default.png" height="40"> break;
                }
            </td>
            <td>
                @item.nombre
            </td>
            <td>
                @item.extension
            </td>
            <td>
                <a href="data:application/force-download;base64,@item.fileBase64" download="@item.nombre">Descargar</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
