@model IEnumerable<MongoDBCRUD.Models.Archivo>

@{
    ViewData["Title"] = "Lista de Archivos";
}

<h1>Lista de Archivos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Archivo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Extensión
            </th>
            <th>
                Descargar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.nombre
            </td>
            <td>
                @item.extension
            </td>
            <td>
                <a href="data:application/force-download;base64,@item.fileBase64" download="@item.nombre">Descargar</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
